#vanilla-slideshow-container { 
    position: relative; 
    text-align: center;
}
#vanilla-slideshow .vanilla-slide { 
    width: 100%;
    height: 300px;
    background-size: cover; 
    background-position: 50% 50%;
    background-repeat: no-repeat;
    position: absolute; 
    top: 0; 
    left: 0; 
    opacity: 0;
    z-index:1;
}
#vanilla-slideshow .vanilla-slide.vanilla-active { 
    opacity: 1;
    z-index:2;
}
#vanilla-slideshow .vanilla-slide img {
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    min-height:400px;
}
#vanilla-slideshow-previous {
    position: absolute;
    left: 10px;
    top: 175px;
    width: 48px;
    height: 50px;
    cursor: pointer; 
    opacity: 0;
    z-index: 5; 
    display: none;
}
#vanilla-slideshow-next {
    position: absolute;
    right: 10px;
    top: 175px;
    width: 48px;
    height: 50px;
    cursor: pointer; 	
    opacity: 0;
    z-index: 5; 
    display: none;
}
#vanilla-slideshow-previous:hover, #vanilla-slideshow-next:hover {
    opacity: 1;
}
/* Indicators */
#vanilla-indicators {
    display: inline-block;
    z-index: 5;
    position: absolute;
    top: 370px;
    right:20px;
}
.vanilla-indicators {
    box-shadow: 0 0 10px #333333;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    float: left;
    margin-right: 3px;
    cursor: pointer;
}
.vanilla-indicators.vanilla-active {
    background-color: #ffffff;
}
#vanilla-slideshow-container:hover #vanilla-slideshow-previous,#vanilla-slideshow-container:hover #vanilla-slideshow-next{
    opacity: 1;
}